.chat {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--cloudy);
}

.chat-message {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.message-actions {
    display: none;
    position: absolute;
    right: -4rem;
    top: 5px;
    display: none;
    align-items: center;
    padding: .25rem;
    font-size: .85rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.message-actions > div {
    margin: 0 .25rem;
    cursor: pointer;
    color: var(--cloudy);
}

.message-actions > div:hover { color: var(--charcoal); }

.chat-message:hover .message-actions {
    display: flex;
}

.edit-chat {
    display: block;
    min-width: 100%;
}

.dots::before { top: 0; }
.dots::after { bottom: 0; }

.chat-header h4 { margin-left: 10px; }

.chat-user {
    position: relative;
    margin-left: 10px;
}

.chat-user small {
    padding-left: 10px;
    color: darkgray;
}

.chat-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat-wrapper {
    display: flex;
    padding: 15px 10px;
}

.chat-wrapper textarea,
.chat-wrapper input {
    border: 1px solid var(--cloudy);
}

.chat-wrapper textarea {
    width: 100%;
    padding: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chat-wrapper input[type="submit"] {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.typing {
    padding-left: 10px;
    opacity: .5;
}