.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: 640px;
    margin: 2.5rem auto;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #FFF;
    width: 100%;
    border-radius: 8px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.modal-title {
    line-height: 1.5rem;
    font-size: 1.25rem;
}

button.modal-close {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transition: ease-in-out 200ms;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button.modal-close:hover {
    cursor: pointer;
    opacity: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}