.avatar-container {
    margin: 20px 0 40px;
    text-align: center;
}

.avatar-text {
    color: var(--sky-blue);
    transition: ease-in-out 200ms;
    line-height: 1.5;
}

.avatar-text:hover {
    color: var(--sky-tint);
    cursor: pointer;
}

.avatar-theme-toggle {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.avatar-theme-toggle input[type="radio"] { display: none; }
.avatar-theme-toggle label {
    display: block;
    margin: 0 0 1rem;
    padding: .15rem .75rem;
    font-weight: bold;
    border-top: 1px solid var(--cloudy);
    border-bottom: 1px solid var(--cloudy);
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.avatar-theme-toggle label:hover {
    background-color: #DDD;
}

.avatar-theme-toggle label:last-child {
    border-left: 1px solid var(--cloudy);
}

.avatar-theme-toggle input:checked + label {
    background-color: #CCC;
}

.avatar-list {
    display: flex;
    flex-wrap: wrap;
}

.avatar-list.light {
    background-color: #CCC;
}

.avatar-list .create-avatar {
    transition: ease-in-out 100ms;
    opacity: 0.8;
}

.avatar-list .create-avatar:hover {
    cursor: pointer;
    opacity: 1;
}